body{
    margin:0;
    color:#6b4c4c;
    /*background:url(https://www.img.in.th/images/a4e08a764a9fed1d5470eb5e005a1f0a.png) no-repeat center;*/
    

}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

/*ลายน้ำ google chrome*/
::-webkit-input-placeholder {
   color: #fbe9e7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fbe9e7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fbe9e7;  
}

:-ms-input-placeholder {  /* Internet Explorer: */
   color: #fbe9e7;  
}
:-o-input-placeholder { /* Opera */
    color: #fbe9e7;  
} 

.login-wrap{
    border-radius: 25px;
    width:1100px;
    margin:auto;
    max-width:75%;
    min-height:650px;
    position:relative;
    background:url(4.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:50%;
    height:100%;
    position:absolute;
    padding:60px 70px 50px 70px;
    background:rgba(255,255,255,.8);
    border-radius: 25px;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:20px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:5px solid transparent;
    color:#dda1a0;
    border-color:#d2ba7b;
}
.login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
            perspective:1000px;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
    /*ความห่าง*/
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:99%;
    height: 10%;
    color:#fff;
    display:block;
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(123,100,99,.6);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#6b4c4c;
    font-size:17px;
}
.login-form .group .button{
    background: -webkit-linear-gradient(left, #dda1a0 , #d2ba7b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dda1a0, #d2ba7b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dda1a0, #d2ba7b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dda1a0 , #d2ba7b); /* Standard syntax */
}

.hr{
    height:2px;
    margin:10px 0 20px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk1{
    /*tsext-align:center;*/
      /*padding: 0px 0px 25px 60px;*/

}
.foot-lnk2{
    text-align:center;
}

/*radio*/
ul li{
  color: #6b4c4c;
  display: block;
  position: relative;
  /*จะลบเว้นบนนทัดอะ*/
  /*float: left;*/
  /*ลบตรงนี้เวลาใส่ menu จะไม่พัง*/
 /* width: 50%;
  height: 50px;*/
  /*text-align:center;*/
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  padding: 0px 0px 25px 60px;
  z-index: 9;
  cursor: pointer;
}

ul li:hover label{
    color: #FFFFFF;
}

ul li .radio{

  display: block;
  position: absolute;
  border: 5px solid #6b4c4c;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 0px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .radio {
  border: 5px solid #ffffff;
}

ul li .radio::before {
  display: block;
  position: absolute;
    content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 2.5px;
    left: 2.5px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .radio {
  border: 5px solid #dda1a0;
}

input[type=radio]:checked ~ .radio::before{
  background: #dda1a0;
}

